.mapboxgl-canvas-container {
 width:100%;
 height: calc(100% - #{$header-height});
}

.mapboxgl-canvas {
  width:100% !important;
  height: 100% !important;
  position: inherit !important;
 }

.mapboxgl-map {
  height:calc(100% - #{$mapbox-label-height});
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mapboxgl-canvas-container {
  position: relative;
  height: calc(100% - 16px);
  width: 90%;
}

.mapbox-label-strong {
  height: $mapbox-label-height;
  flex-basis: auto;
  font-weight: bold;
  padding-top: 15px;
}

.mapbox-label {
  height: $mapbox-label-height;
}

.mapbox-full-container {
  position: fixed;
  top: $header-height;
  display: flex;
  flex-direction: row;
  width: 100%;
  height:  calc(100% - #{$header-height});
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
}

.mapbox-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  width: 200px;
  // box-shadow: 1px 1px 4px lightgray;
  padding-top: 15px;
}

@media screen and (max-width: $mobile-width) {
  .mapbox-full-container {
    flex-wrap: wrap;
  }
}