
$font-size: 1rem;
$mobile-width: 875px;

$background-color: #fdfdff;
$foreground-color: #393d3f;

$header-height: 100px;
$header-item-padding: 5px;

$mapbox-label-height: 50px;
$mapbox-footer-height: 50px;
